/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth ;
    font-family: Arial, Helvetica, sans-serif;
}
/* 1.Từ ngoài vào trong
   2.Từ trên xuống dưới   
   3.Từ tổng quan đến chi tiết 
*/

/* 
1.vị trí
2.kích thước (width,height)
3.màu sắc 
4.kiểu dáng (kiểu chữ ,hình tròn vuông ) 
*/
/* comon  */
.clear{
    clear: both;
}
.text-while{
    color: #fff !important;
}
 .row{
    margin-left: -8px;
    margin-right: -8px;

} 
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float :left;
    padding-left: 8px;
    padding-right: 8px;
    
} 
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
/* Main */
#main {


}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

}
#nav{
    display: inline-block;
}
#nav >li{
     display:inline-block;
}
#nav,.subnav{
    list-style-type: none;
}
#nav li{
   
    position: relative;

}
#nav >li>a{
    color: white;
    text-transform: uppercase;
}
#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:block;

}
#nav >li:hover> a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;

}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    display: none; 
    min-width: 160px;
    top:100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
}
#nav .arrow{
    font-size: 12px;
}
#header .search{
   float: right;
   padding:0 21px;
   padding-block: 11px;  
}
#header .search:hover{
    background-color: #f44336!important;
    cursor: pointer;
}
#header .outline{
   
    
    font-size:20px ;
    color: #fff;
   
}
#nav .subnav a{
    color :#000;
    padding: 0 12px;
    line-height: 38px;
    
}
 
#slider {
    position: relative;
    padding-top: 50%;
    margin-top: 46px;
    background: url('../img/slider/slider1.jpg' ) top center / cover no-repeat ; 
    
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: azure;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size:24px ;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}
#content {
    

}
#content .content-section{
    width: 800px; 
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}
#content .section-heading{
    font-weight:500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;

}

#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    text-align: center;
    opacity: 0.6;

}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align:justify;
    line-height: 1.4;

}
#content .member-list{
    margin-top: 48px;
    
}
#content .member-item{
    float: left;
    width: 33.33333%;
    text-align: center;
}
#content .member-name{
    font-size: 15px;
   
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;

}
/* Tour section */
.Tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;

}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757757;
    list-style:none;
}
.tickets-list .sold-out{
    background-color: red;
    color: #fff;
    padding: 4px;
    margin-left: 16px;
}
.tickets-list .quantily{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px; 
    margin-top: -3px;


}
/* Places */
.class-list{
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
    /* margin: 32px -8px 0 ; */
    /* padding-bottom: 48px; */
}
.place-item{
    float:left;
    width:calc(100%/3);
    padding: 0 8px;

}
.place-img{
    width: 100%;
    display:block;

}
.place-img:hover{
    opacity: 0.6;
}


.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.play-heading{
    font-size: 15px;
    font-weight: 600;

}
.play-time{
    margin-top: 15px;
    color: #757757;
}
.play-desc{
    margin-top: 15px;
    line-height:1.4 ;
}
.place-buy-btn{
    padding: 11px 18px;
    color: #fff;
    background-color: #030303;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border: none;
    
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;

}
/* Footer section */
#footer {


}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgb(0,0,0,0.3) ;
    align-items: center;
    justify-content: center;
    display: none;
    
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100%-32px);
    position: relative;
    
    animation:  modalFadeIn ease 0.5s;
}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal .bag{
    margin-right:16px ;
}
.modal-close{
    position: absolute;
    right: 0;
    top:0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    font-size: 28px;

}
.modal-close:hover{
    opacity: 0.8;
}
.modal-body{
    padding: 16px;
    
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.model-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-tickets{
    background-color: #009688;
    border: none;
    color:#fff;
    text-transform: uppercase;
    width: 100%;
    padding: 18px;

}
#buy-tickets:hover{
    cursor: pointer;
    opacity: 0.8;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: rgba(23, 187, 228, 0.438);
}


/* contact from */
.contact-content{
    margin-top: 48px;
   
}
.contact-info{
     font-size: 18px;
     line-height: 1.5;
}
.ti {
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    /* outline: none; */
}
.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;

}
.form-submit-btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
/* Map section */
.map-section img{
    width: 100%;


}
/* Footer section */
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size:24px;
    color: #f44336;

}
#footer .copyright:hover,
#footer .socials-list:hover{
    opacity: 0.8;

}
#footer .copyright{
    margin-top: 15px;
}
#footer .copyright a{
    color: #f44336;
}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateX(-140px);
        
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}